.App{
  font-family: sans-serif;
}
.span{
  font-weight: bold;
}
.movie-poster{
  height:640px;
  width:340px;
  object-fit: cover;
}
.movie-name{
  font-size: 24px;
}
.movie-specs{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.movie-container{
  max-width: 340px;
}
.movie-list{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
  gap:1rem;
  justify-items:center;
}
body{
  margin:24px;
}
